.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: 5rem;
}

.logo {
  width: 100px;
}

.InputContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.PatientInfo {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 5px;
  width: 45%;
  margin-right: 0;
}

.Consultations {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  width: 45%;
  margin-left: 0;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.statBox {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px;
  text-align: center;
  font-weight: bold;
}

.statBox:first-child {
  background-color: #b9ce42;
}

.statBox:nth-child(2) {
  background-color: #28a745;
}

.statTitle {
  font-size: 14px;
  color: #000000;
}

.statValue {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.consultationItem {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pdfButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
