.App {
  }
  
  .Nav {
    height: 5rem;
  }
  
  .logo {
    width: 100px;
  }
  
  .nbr-patient {
    margin-left: 8cm;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0948a7;
    padding: 20px;
  }
  
  .nbr-consultation {
    margin-right: 3cm;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #097da7;
    padding: 20px;
  }
  
  .statsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .statBox {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
    background-color: #0948a7;
  }
  
  .statTitle {
    font-size: 14px;
    color: #000000;
  }
  
  .statValue {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  