/* styles.css */

.container {
    margin: 0 auto;
    margin-top: 5rem;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    display: inline-block; /* Ajout pour afficher les liens en ligne */
    width: 40rem;

    
  }
  
  
  
  .col h2 {
    margin-top: 0;
  }
  .Nav{
    background-color: rgb(54, 141, 142);
    height: 5rem;
    
  }
  .logo {
    width: 70px; /* Ajustez la largeur selon vos besoins */
    height: 70px; /* Hauteur automatique pour conserver le ratio d'aspect */
    margin-right: 90%;
  }
  .b{
    cursor: pointer;
    color: white;
    font-family: unset;
    font-weight:bold;
    margin: 20px;

    border-radius: 40px ;
    height: 9rem;
    width: 17rem;
    background-color: rgb(70, 126, 136);
    font-size: 20px;
    padding: 3rem;
    display: inline-block; /* Ajout pour afficher les liens en ligne */
    text-decoration: none;

    
  }
  